
.box {
    height: 400px;
    width: 375px;
    background-color: #5C4848;
    margin: 30rem auto;
}

.login_header {
    padding-top: 2.5rem;
}

.box h3 {
    text-align: center;
}

.box h6 {
    text-align: center;
}

.emailpassword {
    display: grid;
    width: 18em;
    margin: 2em auto;
    
}

input {
    margin: 1.5em 0;
    background-color: #D9D9D9;
    border: none;
    height: 2rem;
    width: 100%;
}